absl-py==0.7.1
alabaster==0.7.12
astor==0.7.1
Babel==2.6.0
baselines==0.1.5
certifi==2019.3.9
chardet==3.0.4
cloudpickle==0.8.1
colorlog==4.0.2
cycler==0.10.0
Cython==0.29.6
dask==1.1.4
decorator==4.4.0
dill==0.2.9
docutils==0.14
freetype-py==2.1.0.post1
future==0.17.1
gast==0.2.2
grpcio==1.19.0
gym==0.12.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
ipython==5.5.0
ipython-genutils==0.2.0
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mock==2.0.0
mpmath==1.1.0
msgpack==0.6.1
multiprocess==0.70.7
networkx==2.2
numpy==1.16.2
opencv-python==4.0.0.21
packaging==19.0
pandas==0.24.2
pbr==5.1.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.7.0
psutil==5.6.2
ptyprocess==0.6.0
pybullet==2.4.8
pycocotools==2.0.0
pycollada==0.6
pyglet==1.4.0b1
Pygments==2.3.1
PyOpenGL==3.1.3b2
pyparsing==2.3.1
pyrender==0.1.21
pyserial==3.4
python-dateutil==2.8.0
python-fcl==0.0.9
pytz==2019.1
PyWavelets==1.0.2
PyYAML==5.1
requests==2.21.0
Rtree==0.8.3
ruamel.yaml==0.15.89
scikit-image==0.14.2
scikit-learn==0.20.3
scikit-video==1.1.11
scipy==1.2.1
seaborn==0.9.0
setproctitle==1.1.10
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-automodapi==0.10
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
svg.path==3.0
sympy==1.3
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==2.5.0
termcolor==1.1.0
toolz==0.9.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.31.1
traitlets==4.3.2
triangle==20190115.2
trimesh==2.37.21
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.15.1
xxhash==1.3.0
